@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --col-text: #FFF;
    --col-primary: #313131;
    --col-accent: #CA3E47;
    --col-text2: #FFFFFF33;
    --font-family: 'Roboto Mono';
    --base-font-size: 16px; /* Set my base font size */
    --font-size-12: 0.75rem; /* 12px in rem */
    --font-size-14: 0.875rem; /* 14px in rem */
    --font-size-16: 1rem; /* 16px in rem */
    --font-size-18: 1.125rem; /* 18px in rem */
    --font-size-20: 1.25rem; /* 20px in rem */
    --font-size-25: 1.5625rem; /* 25px in rem */
    --font-size-32: 2rem; /* 32px in rem */
    --font-size-36: 2.25rem; /* 36px in rem */
    --font-size-40: 2.5rem; /* 40px in rem */
    --font-size-48: 3rem; /* 48px in rem */
    --font-size-60: 3.75rem; /* 60px in rem */
    --font-size-64: 4rem; /* 64px in rem */
    --font-weight-small: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-large: 700;
    --font-weight-xlarge: 900;
}

* {
    box-sizing: border-box;
}

body {
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.calc {
    padding: 134px 15px 25px 15px;
    border-radius: 20px;
    background: radial-gradient(160.3% 78.68% at 16.98% 14.39%, #444 45.19%, #313131 95.67%);
    box-shadow: 1px 3px 26px 28px rgba(0, 0, 0, 0.10), 0px 1px 12px 7px rgba(0, 0, 0, 0.25);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    flex-wrap: nowrap;
    padding: 0px 15px 0px 10px;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;  
}
.pad {
    border-top: 1px solid #FFF;
}
button {
    width: 70px;
    height: 70px;
    color: var(--white, #FFF);
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-25);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: normal;
    border-radius: 100px;
    border: none;
    background: none;
}
.operators {
    width: 70px;
    height: 392px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--Primary, #313131);
}
.operators button {
    width: 60px;
}
.operators .total-btn {
    border-radius: 100px;
    opacity: 0.6;
    background: var(--Accent, #CA3E47);
    box-shadow: 0px 0px 17px 0px rgba(202, 62, 71, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    }